@model BonusMvcStok.Models.Entity.TblSatislar

@{
    ViewBag.Title = "SatisGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("SatisGuncelle", "Satislar", FormMethod.Post))
{
    <h2>Satış Güncelleme</h2>
    <br />
    @Html.HiddenFor(x => x.id, new { @class = "form-control" })
    <br />
    <label>Ürün</label>
    @Html.DropDownListFor(x => x.TblUrunler.id, (List<SelectListItem>)ViewBag.urun, new { @class = "form-control" })
    <br />
    <label>Personel</label>
    @Html.DropDownListFor(x => x.TblPersonel.id, (List<SelectListItem>)ViewBag.personel, new { @class = "form-control" })
    <br />
    <label>Müşteri</label>
    @Html.DropDownListFor(x => x.TblMusteri.id, (List<SelectListItem>)ViewBag.musteri, new { @class = "form-control" })
    <br />
    <label>Fiyat</label>
    @Html.TextBoxFor(x => x.fiyat, new { @class = "form-control" })
    <br />
    <label>Tarih</label>
    @Html.TextBoxFor(x => x.tarih, new { @class = "form-control" })
    <br />
    <button class="btn btn-warning">Güncelle!</button>
}
